<h1>Eat-Da-Burger</h1>


<div id="add">
    <h2>Add a Burger</h2>
    <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
        </div>

        <button type="submit">Add Burger</button>
    </form>

</div>

<div id="new">
    <h2>New Burgers Added</h2>


    <ul>
        {{#each burger}} {{#unless this.devoured}}
        <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">LET'S EAT!</button>
            </form>

        </li>
        {{/unless}} {{/each}}
    </ul>
</div>

<div id="devour">
    <h2>Burgers Devoured</h2>

    <ul>
        {{#each burger}} {{#if this.devoured}}
        <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button type="submit">EAT-DA-BURGER!</button>
            </form>

        </li>
        {{/if}} {{/each}}
    </ul>
</div>